---
/* eslint-disable tailwindcss/no-custom-classname */
import { Game as GameComponent, Heading, Section } from "@/components";
import { Game } from "@/domain/protocols";

interface Props {
  games: Game[];
}

const { games } = Astro.props;
---

<Section id="games">
  <Heading level={1}>Jogos</Heading>
  <section
    id="games-carousel"
    class="splide min-h-[450px] overflow-x-hidden md:min-h-[550px]"
    aria-label="Todos os Jogos da TGD Studio"
  >
    <div class="splide__track">
      <ul class="splide__list max-w-[80vw]">
        {
          games.map((game) => (
            <li class={`splide__slide`}>
              <GameComponent {...game} />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Section>

<script>
  import Splide from "@splidejs/splide";

  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#games-carousel", {
      type: "loop",
      width: "1280px",
      focus: "center",
      autoWidth: true,
      lazyLoad: "nearby",
      gap: "1rem",
      autoplay: true,
      interval: 5000,

      mediaQuery: "min",
      breakpoints: {
        0: {
          perPage: 1,
          perMove: 1,
        },
        700: {
          perPage: 2,
          perMove: 1,
        },
        1440: {
          perPage: 3,
          perMove: 2,
        },
        2560: {
          perPage: 4,
          perMove: 3,
        },
      },

      classes: {
        arrows: "splide__arrows bg-white",
        arrow:
          "items-center cursor-pointer flex h-[2em] justify-center opacity-70 absolute -translate-y-2/4 w-[2em] z-[1] p-0 rounded-[50%] border-0 top-2/4 fill-brand-red",

        page: "splide__pagination__page__custom bg-gray-900 h-4 w-4 inline-block opacity-70 relative transition-transform duration-[0.2s] ease-linear m-[3px] p-0 rounded-[50%] border-0",
      },
    }).mount();
  });
</script>

<style is:global>
  button.splide__pagination__page__custom.is-active {
    @apply bg-brand-red opacity-100 scale-125;
  }
</style>
