---
import Layout from '@/layouts/Layout.astro';
import { FeaturedSection } from '@/components';
---

<Layout title="TGD Studio | Home">
	<main class="w-full">
		<FeaturedSection/>
		<section id="games">Games</section>
	</main>
</Layout>

