---
import { AboutSection, ContactSection, HeroBanner } from "@/components";
import GamesSection from "@/components/sections/games-section.astro";
import Layout from "@/layouts/Layout.astro";
import { makeHomeData } from "@/main/factories";

const homeData = makeHomeData()
---

<Layout title="Home">
  <main class="w-full">
    <HeroBanner
      id="featured-game"
      scrollDownButton={{
        active: true,
        anchor: "#games",
      }}
      banner={{
        url: homeData.featuredGame.bannerUrl,
      }}
    />
    <GamesSection games={homeData.games} />
    <AboutSection aboutData={homeData.about} client:load />
    <ContactSection contactData={homeData.contact} />
  </main>
</Layout>
