---
import Layout from '@/layouts/Layout.astro';
import { FeaturedSection } from '@/components';

import GamesSection from '@/components/sections/games-section.astro';
---

<Layout title="TGD Studio | Home">
	<main class="w-full">
		<FeaturedSection/>
		<GamesSection />
	</main>
</Layout>

