---
import { AboutSection, ContactSection,FeaturedSection } from '@/components';
import GamesSection from '@/components/sections/games-section.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="TGD Studio | Home">
	<main class="w-full">
		<FeaturedSection/>
		<GamesSection />
		<AboutSection client:load />
		<ContactSection />
	</main>
</Layout>

