---
import { Footer, Head, Header, Seo } from "@/components";

interface Props {
  title: string;
  description?: string;
  topPageHref?: string;
}

const { title, description, topPageHref } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <Head generator={Astro.generator}>
    <Seo title={title} description={description} />
  </Head>

  <body>
    <Header client:load />
    <slot />
    <Footer topPageHref={topPageHref} />
    <style is:global>
      html,
      body {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>

